
@{
    ViewData["Title"] = "積分管理";

}

<div class="position-relative" id="app">
    <!-- Toast -->
    <div class="position-absolute p-3 top-0 start-50 translate-middle-x" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
            <div class="toast-header">
                <strong class="me-auto">提醒訊息</strong>
                <small></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <h4 class="text-success"><i class="fas fa-check-circle"></i> 儲存成功</h4>
            </div>
        </div>
    </div>

    <h2><b-badge variant="secondary">積分管理</b-badge></h2>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item w-50 text-center" role="presentation">
            <a class="nav-link active fs-4 fw-bold" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                <i class="far fa-clipboard"></i>
                未發送積分
            </a>
        </li>
        <li class="nav-item w-50 text-center" role="presentation">
            <a class="nav-link fs-4 fw-bold" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                <i class="fas fa-clipboard-check"></i>
                已發送積分
            </a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane bg-white fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <template>
                <b-container fluid>
                    <b-row>
                        <b-col lg="9" class="my-1">
                            <b-button-group>
                                <b-button variant="danger" class="" v-b-modal.modal-1>
                                    <i class="far fa-plus-square mr-2"></i>
                                    新增積分券
                                </b-button>
                            </b-button-group>
                        </b-col>
                        <b-col lg="3" class="my-1">
                            <b-form-group label="關鍵字"
                                          label-for="unfilter-input"
                                          label-cols-sm="3"
                                          label-align-sm="right"
                                          label-size="sm"
                                          class="m-1">
                                <b-input-group size="sm">
                                    <b-form-input id="unfilter-input"
                                                  v-model="unFilter"
                                                  type="search"
                                                  placeholder="請輸入關鍵字">
                                    </b-form-input>
                                    <b-input-group-append>
                                        <b-button :disabled="!unFilter" v-on:click="unFilter = ''">清除</b-button>
                                    </b-input-group-append>
                                </b-input-group>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-table :items="unPoints" :busy="isBusy" :fields="unfields" class="mt-3" hover :head-variant="headVariant" :fixed="fixed" :filter="unFilter" :filter-included-fields="filterOn" :current-page="uncurrentPage" :per-page="unperPage">
                        <template #table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>
                        <template #cell(status)="row">
                            <b-button v-on:click="info(row.item, row.index, $event.target)" class="mr-1" variant="warning">
                                未發送
                            </b-button>
                        </template>
                        <template #cell(editor)="row">
                            <b-button v-on:click="infoEdit(row.item, row.index, $event.target)" class="mr-1" variant="primary">
                                編輯
                            </b-button>
                            @*<b-button v-on:click="infoDel(row.item, row.index, $event.target)" class="mr-1" variant="danger">
                                    刪除
                                </b-button>*@
                        </template>
                    </b-table>
                    <b-row>
                        <b-col lg="9" class="my-1">
                            <b-pagination v-model="uncurrentPage"
                                          :total-rows="untotalRows"
                                          :per-page="unperPage"
                                          align="center"
                                          size="sm"
                                          class="my-0">
                            </b-pagination>
                        </b-col>
                        <b-col lg="3" class="my-1">
                            <b-form-group label="每頁顯示筆數" label-for="per-page-select"
                                          label-cols-sm="3" label-cols-lg="9" content-cols="3"
                                          label-align-sm="right" label-size="sm" class="mb-0">
                                <b-form-select id="per-page-select" v-model="unperPage"
                                               :options="unpageOptions" size="sm"></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-container>
            </template>

        </div>
        <div class="tab-pane bg-white fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <template>
                <b-container fluid>
                    <b-row>
                        <b-col lg="9" class="my-1">

                        </b-col>
                        <b-col lg="3" class="my-1">
                            <b-form-group label="關鍵字"
                                          label-for="filter-input"
                                          label-cols-sm="3"
                                          label-align-sm="right"
                                          label-size="sm"
                                          class="m-1">
                                <b-input-group size="sm">
                                    <b-form-input id="filter-input"
                                                  v-model="filter"
                                                  type="search"
                                                  placeholder="請輸入關鍵字">
                                    </b-form-input>
                                    <b-input-group-append>
                                        <b-button :disabled="!filter" v-on:click="filter = ''">清除</b-button>
                                    </b-input-group-append>
                                </b-input-group>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-table :items="Points" :busy="isBusy" :fields="fields" class="mt-3" hover :head-variant="headVariant" :fixed="fixed" :filter="filter" :filter-included-fields="filterOn" :current-page="currentPage" :per-page="perPage">
                        <template #table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>
                        <template #cell(status)="row">
                            <b-button v-on:click="info(row.item, row.index, $event.target)" class="mr-1" disabled>
                                已發送
                            </b-button>
                        </template>
                    </b-table>
                    <b-row>
                        <b-col lg="9" class="my-1">
                            <b-pagination v-model="currentPage"
                                          :total-rows="totalRows"
                                          :per-page="perPage"
                                          align="center"
                                          size="sm"
                                          class="my-0">
                            </b-pagination>
                        </b-col>
                        <b-col lg="3" class="my-1">
                            <b-form-group label="每頁顯示筆數" label-for="per-page-select"
                                          label-cols-sm="3" label-cols-lg="9" content-cols="3"
                                          label-align-sm="right" label-size="sm" class="mb-0">
                                <b-form-select id="per-page-select" v-model="perPage"
                                               :options="pageOptions" size="sm"></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-container>
            </template>

        </div>
    </div>

    @*新增積分券*@
    <b-modal id="modal-1" title="新增積分券">

        <b-form-group id="input-group-1" label="積分類別:" label-for="input-1">
            <b-form-select v-model="PointForm.pointName" :options="options"></b-form-select>
        </b-form-group>

        <b-form-group id="input-group-2" label="積分點數:" label-for="input-2">
            <b-form-input id="input-2"
                          v-model="PointForm.pointNum"
                          placeholder="輸入點數"
                          required
                          :type="type"></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="積分期限:" label-for="input-3">
            <b-form-input id="input-3"
                          v-model="PointForm.validDate"
                          placeholder="輸入期限"
                          required
                          :type="type"></b-form-input>
        </b-form-group>

        <template #modal-footer="{ ok, cancel }">
            <b-button variant="danger" v-on:click="cancel()">
                取消
            </b-button>
            <b-button variant="success" v-on:click="ok();postPoint()">
                新增
            </b-button>
        </template>
    </b-modal>

    @*發送積分券*@
    <b-modal :id="infoModal.id" :title="infoModal.title" v-on:hide="resetInfoModal">
        <pre class="fs-3">{{ infoModal.content }}</pre>
        <template #modal-footer="{ ok, cancel }">
            <b-button variant="secondary" v-on:click="cancel()">
                取消
            </b-button>
            <b-button variant="warning" v-on:click="ok();sendPoint(infoModal.pointId)">
                發送
            </b-button>
        </template>
    </b-modal>

    @*更新積分券*@
    <b-modal :id="infoModalEdit.id" :title="infoModalEdit.title" v-on:hide="resetInfoModal">

        <b-form-group id="input-group-1" label="積分類別:" label-for="input-1">
            <b-form-select v-model="UpdateForm.pointName" :options="options"></b-form-select>
        </b-form-group>

        <b-form-group id="input-group-2" label="積分點數:" label-for="input-2">
            <b-form-input id="input-2"
                          v-model="UpdateForm.pointNum"
                          placeholder="輸入點數"
                          required
                          :type="type"></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="積分期限:" label-for="input-3">
            <b-form-input id="input-3"
                          v-model="UpdateForm.validDate"
                          placeholder="輸入期限"
                          required
                          :type="type"></b-form-input>
        </b-form-group>

        <template #modal-footer="{ ok, cancel }">
            <b-button variant="secondary" v-on:click="cancel()">
                取消
            </b-button>
            <b-button variant="primary" v-on:click="ok();updatePoint(infoModalEdit.pointId)">
                更新
            </b-button>
        </template>
    </b-modal>

    @*刪除積分券*@
    <b-modal :id="infoModalDel.id" :title="infoModalDel.title" v-on:hide="resetInfoModal">
        <pre class="fs-3">{{ infoModalDel.content }}</pre>
        <template #modal-footer="{ ok, cancel }">
            <b-button variant="secondary" v-on:click="cancel()">
                取消
            </b-button>
            <b-button variant="danger" v-on:click="ok();deletePoint(infoModalDel.pointId)">
                刪除
            </b-button>
        </template>
    </b-modal>

</div>

@section endJS{
    <script>

        function toastMsg() {
            var myAlert = document.getElementById('liveToast');//select id of toast
            var bsAlert = new bootstrap.Toast(myAlert);//inizialize it
            bsAlert.show();//show it
        }

        let app = new Vue({
            el: '#app',
            data() {
                return {
                    isBusy: false,
                    headVariant: 'dark',
                    fixed: true,
                    filter: '',
                    unFilter: '',
                    filterOn: ['pointId', 'pointName', 'pointNum', 'validDate'],
                    pageOptions: [5, 10, 15],
                    unpageOptions: [5, 10, 15],
                    totalRows: 1,
                    untotalRows: 1,
                    currentPage: 1,
                    uncurrentPage: 1,
                    perPage: 5,
                    unperPage: 5,
                    Points: [],
                    unPoints: [],
                    unfields: [
                        { key: 'pointId', label: '積分編號', sortable: true },
                        { key: 'pointName', label: '積分名稱', sortable: true },
                        { key: 'pointNum', label: '點數', sortable: true },
                        { key: 'validDate', label: '有效天數', sortable: true },
                        { key: 'status', label: '發送狀態' },
                        { key: 'editor', label: '積分管理' }
                    ],
                    fields: [
                        { key: 'pointId', label: '積分編號', sortable: true },
                        { key: 'pointName', label: '積分名稱', sortable: true },
                        { key: 'pointNum', label: '點數', sortable: true },
                        { key: 'validDate', label: '有效天數', sortable: true },
                        { key: 'getTime', label: '發送日期', sortable: true },
                        { key: 'deadLine', label: '結束日期', sortable: true },
                        { key: 'status', label: '發送狀態' }
                    ],
                    type: 'number',
                    PointForm: {
                        pointName: '',
                        pointNum: 0,
                        validDate: 0
                    },
                    UpdateForm: {},
                    infoModal: {
                        id: 'info-modal',
                        title: '',
                        content: '',
                        pointId: null
                    },
                    infoModalEdit: {
                        id: 'info-modal-edit',
                        title: '',
                        content: ''
                    },
                    infoModalDel: {
                        id: 'info-modal-del',
                        title: '',
                        content: '',
                        pointId: null
                    },
                    options: [
                        { value: '每日登入', text: '每日登入' },
                        { value: '周末好禮', text: '周末好禮' },
                        { value: '節日放送', text: '節日放送' }
                    ]
                }
            },
            mounted() {
                axios.get('/api/Point')
                    .then((res) => {
                        this.isBusy = !this.isBusy
                        res.data.result.forEach((item) => {
                            if (item.status == true) {
                                this.Points.push({
                                    'pointId': item.pointId,
                                    'pointName': item.pointName,
                                    'pointNum': item.pointNum,
                                    'validDate': item.validDate,
                                    'status': item.status,
                                    'getTime': item.getTime,
                                    'deadLine': item.deadline
                                })
                            } else {
                                this.unPoints.push({
                                    'pointId': item.pointId,
                                    'pointName': item.pointName,
                                    'pointNum': item.pointNum,
                                    'validDate': item.validDate,
                                    'status': item.status
                                })
                            }
                        })
                        this.isBusy = !this.isBusy
                        this.totalRows = this.Points.length
                        this.untotalRows = this.unPoints.length
                    })
            },
            methods: {
                toggleBusy() {
                    this.isBusy = !this.isBusy
                },
                info(item, index, button) {
                    this.infoModal.title = `${item.pointId}號-積分券`
                    this.infoModal.content = `確定發送${item.pointId}號積分券?`
                    this.$root.$emit('bv::show::modal', this.infoModal.id, button)
                    this.infoModal.pointId = item.pointId
                },
                infoEdit(item, index, button) {
                    this.infoModalEdit.title = `編輯 ${item.pointId}號-積分券`
                    this.infoModalEdit.content = `確定編輯${item.pointId}號積分券?`
                    this.$root.$emit('bv::show::modal', this.infoModalEdit.id, button)
                   
                    this.UpdateForm = {
                        pointId: item.pointId,
                        pointName: item.pointName,
                        pointNum: item.pointNum,
                        validDate: item.validDate
                    }
                },
                infoDel(item, index, button) {
                    this.infoModalDel.title = `${item.pointId}號-積分券`
                    this.infoModalDel.content = `確定刪除${item.pointId}號積分券?`
                    this.$root.$emit('bv::show::modal', this.infoModalDel.id, button)
                    this.infoModalDel.pointId = item.pointId
                },
                resetInfoModal() {
                    this.infoModal.title = ''
                    this.infoModal.content = ''
                },
                sendPoint(id) {
                    axios.patch(`/api/Point/${id}`)
                        .then((res) => {
                            var result = this.unPoints.find((item) => {
                                return item.pointId == id
                            });
                            this.unPoints.splice(this.unPoints.indexOf(result), 1)
                            this.Points.push({
                                'pointId': res.data.result.pointId,
                                'pointName': res.data.result.pointName,
                                'pointNum': res.data.result.pointNum,
                                'validDate': res.data.result.validDate,
                                'status': res.data.result.status,
                                'getTime': res.data.result.getTime,
                                'deadLine': res.data.result.deadline
                            });
                            this.totalRows = this.Points.length
                            this.untotalRows = this.unPoints.length
                            toastMsg()
                        })
                },
                postPoint() {
                    axios.post('/api/Point', {
                        pointName: this.PointForm.pointName,
                        pointNum: parseInt(this.PointForm.pointNum),
                        validDate: parseInt(this.PointForm.validDate)
                    }).then((res) => {
                        this.unPoints.push({
                            'pointId': res.data.result.pointId,
                            'pointName': res.data.result.pointName,
                            'pointNum': res.data.result.pointNum,
                            'validDate': res.data.result.validDate,
                            'status': res.data.result.status
                        })
                        this.PointForm = {
                            pointName: '',
                            pointNum: 0,
                            validDate: 0
                        }
                        this.totalRows = this.Points.length
                        this.untotalRows = this.unPoints.length
                        toastMsg()
                    })
                },
                updatePoint() {
                    var result = {
                        pointId: this.UpdateForm.pointId,
                        pointName: this.UpdateForm.pointName,
                        pointNum: parseInt(this.UpdateForm.pointNum),
                        validDate: parseInt(this.UpdateForm.validDate)
                    }
                    axios.put('/api/Point', result).then(res => {
                        var index = this.unPoints.findIndex(item => item.pointId == result.pointId)
                        this.unPoints[index].pointName = result.pointName
                        this.unPoints[index].pointNum = result.pointNum
                        this.unPoints[index].validDate = result.validDate
                        toastMsg()
                    })
                },
                deletePoint(id) {
                    axios.delete(`/api/Point/${id}`)
                        .then(res => {

                        })
                }
            }
        })
    </script>
}