.star-gray {
    color: rgb(202, 202, 202);
}

.star-yellow {
    color: #FCDE0A;
    left: 0;
}

.card-bg {
    background-color: #160531 !important;
    border: 5px #282119 solid
}
.hahow-orange {
    color: #fa8b00;
}
.text-c {
    color:rgb(255 255 249 / 67%) !important;
}
.h4-color {
    /*color: #7477D9;*/
    color: #e6e7ff;
}
.hahow-dark-orange {
    color: rgb(238, 100, 87);
}

.hahow-dark-green {
    color: #FCDE0A;
}

.bg-hahow-green {
    background: rgb(46, 225, 179);
    color: white;
}

.bg-hahow-dark-green {
    background: #87b5c4;
}

.bg-hahow-green:hover {
    color: white;
}

.bg-hahow-dark-orange {
    background: rgb(250, 139, 0);
}

.center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.backgroundPhoto {
    width: 58px;
    height: 58px;
    transform: translate(10%, -50%);
    z-index: 1;
}

.backgroundBookmark {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 5%;
}

.backgroundBookmark-sm {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.backgroundBookmarkMove {
    bottom: -50%;
    transition: 0.5s;
}

.backgroundBookmarkChecked {
    bottom: 5%;
    background: rgb(250, 139, 0);
}

.backgroundBookmarkChecked > i {
    color: white;
}

.h-30 {
    height: 10px;
}

.line-height-40 {
    line-height: 40px !important;
}

.line-height-30 {
    line-height: 30px !important;
}

.card-img-top {
    transition: 0.5s;
}

.fa-bookmark {
    transform: scale(1.2);
}
.card-img-top {
    height:160px;
    margin-right: 5px !important;
}
.card:hover .cartBox {
    visibility: visible !important;
    background-color: lightpink;
    opacity: 0.9;
    z-index: 5;
}

.cartBox-add:hover {
    color: #FFEB00 !important;
}

.cartBox-intro:hover {
    color: #FFEB00 !important;
}

.cartBox-del:hover {
    color: #FFEB00 !important;
}

.card:hover .editBox {
    visibility: visible !important;
    background-color: #A4AFDD; opacity: 0.9;
    z-index: 5;
}

.editbox-edit:hover {
    color: #FFEB00 !important;
}

.editbox-delete:hover {
    color: #FFEB00 !important;
}


@media (max-width: 767px) {
    .card-img-box {
        display: none;
    }

    .backgroundTape {
        display: none;
    }

    .card-title-image {
        display: none;
    }

    .backgroundBookmark {
        display: none;
    }

    .backgroundBookmark-sm:hover {
        background-color: #fa8b00;
    }

        .backgroundBookmark-sm:hover i {
            color: white;
        }

    .card-bottom {
        height: 2px;
    }

    .card-img-top {
        width: 90%;
        /*height:50px;*/
        margin-right: 5px !important;
    }

    .card {
        border: 0px
    }
}



@media (min-width: 768px) {

    .cardTitle {
        height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    #photoImag {
        width: 55px;
        height: 55px;
    }

    .backgroundTape {
        font-size: 14px;
        width: 50%;
        height: 25px;
        line-height: 25px;
        right: -15%;
        top: 20px;
        transform: rotate(45deg);
    }

    .card:hover .card-img-top {
        transform: scale(1.1);
    }

    .card-img-top {
        /*width: 86%;*/
    }

    .card:hover .backgroundBookmarkMove {
        bottom: 5%;
    }

    .backgroundBookmark-sm {
        display: none !important;
        color: white;
    }

    .backgroundBookmark:hover {
        background-color: #fa8b00;
    }

    .backgroundBookmark:hover i {
        color: white;
    }

    .card-bottom {
        height: 6px;
    }

    .classPrice {
        font-size: 25px;
    }

    .course-time::before {
        content: "課時";
    }

    .couse-time-before {
        display: none;
    }

    .course-people::before {
        content: "同學";
    }

    .course-people-before {
        display: none;
    }
}

.px-15 {
    padding: 0 15px;
}

.card-h2-title {
    font-size: 30px;
    margin: 0;
    /*color: rgba(0,0,0,0.65);*/
    line-height: 60px;
}

.recommend-img {
    height: 60px;
    width: 90px;
}

.more-class {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    line-height: 1;
}
    .more-class:hover {
        color: #bdb15e;
    }

@media (min-width: 991px) {
    .card-img-top {
        height: 160px;
    }
}

@media (min-width: 1200px) {
    .card-img-top {
        height: 160px;
    }
}