
    * {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    *::selection {
        background: orange;
        color: #fff;
    }

  body{
      color:white;
  }

    a {
        color: orange;
    }

    /* 讓灰色消失 */

    .row {
        display: flex;
        margin-right: -15px;
        margin-left: -15px;
        justify-content: center;
        align-content: center;

    }

    .homepage-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .heading {
        margin-bottom: 12px;
        padding-bottom: 12px;
        padding-top: 30px;
        border-bottom: 1px solid rgb(204, 204, 204);
    }

    h1 {
        line-height: 1.5em;
        font-size: 40px;
        color: rgba(0, 0, 0, 0.87);
    }

p {
    color: #dfdcdc;
    margin: 16px 0px;
    padding: 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

    .collect-p {
        margin: 16px 0px;
        padding: 0px;
        line-height: 1.75em;
    }

    .center {
        display: flex;
        justify-content: center;

    }

.background-gray {
    background-color: #180533;
}

    ul {
        padding-left: 20px
    }

    ol {
        padding-left: 20px
    }

.li {
    list-style: decimal;
    color: #dfdcdc;
}
  @media screen and (max-width:768px) {

        .col-xs-0 {
            flex: 0 0 0;
            max-width: 0;
            padding-right: 0;
            padding-left: 0;
        }

    }