body {
    background-color: rgba(0, 0, 0, 0.062);
}

.content-1 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 15px;
}

.cart-area {
    /* margin-bottom: 60px; */
   /* width: 55vw;*/
    /* height: 75vh; */
}
/*button*/
.marg-t-60 {
    margin-top: 60px;
}
.line {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.flex-1 {
    flex: 1 1 0%;
}
.load-more-bookmark button {
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(250, 139, 0);
    border-color: rgb(250, 139, 0);
}
.iPSzms {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.43);
    white-space: nowrap;
    user-select: none;
    font-weight: 400;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.65);
    padding: 5px 40px;
    font-size: 20px;
    border-radius: 3px;
    min-width: 260px;
    line-height: 1.8em;
}
.hfxheR .line {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
/*button*/
.main-container {
    display: flex;
    width: 100%;
    max-width: 1140px;
    min-height: 600px;
    margin: 60px 25px;
}

.vertical-horizontal-center {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.pad-tb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.marg-b-30 {
    margin-bottom: 30px;
}

.marg-b-10 {
    margin-bottom: 10px;
}

.fBQVEd {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid rgb(250, 139, 0);
    white-space: nowrap;
    user-select: none;
    font-weight: 400;
    background-color: rgb(250, 139, 0);
    color: white;
    padding: 5px 40px;
    font-size: 20px;
    border-radius: 3px;
    min-width: 260px;
    line-height: 1.8em;
}

.text-center {
    text-align: center;
    width: 260px;
    height: 216px;
}

.right-area {
    flex: 0 1 260px;
    order: 2;
   /* margin-left: 30px;*/
    width: 260px;
    /* background-color: white; */
}

.dfcsU {
    border-radius: 3px;
    border: none;
    /* text-align: center; */
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 8px 0px;
    overflow: auto;
}

.pad-b-20 {
    padding-bottom: 20px;
}

.marg-b-20 {
    margin-bottom: 20px;
}

.pad-rl-15 {
    color:white;
    padding-right: 15px;
    padding-left: 15px;
}

.RmieE .border-bottom-box {
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
    padding-bottom: 10px;
    padding-top: 10px;
    transition: border-bottom-width 0.3s ease 0s;
}

h6 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
}

.border-bottom-box {
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
    padding-bottom: 10px;
    padding-top: 10px;
    /* transition: border-bottom-width 0.3s ease 0s; */
}

.RcKEn[disabled] {
    background-color: rgb(204, 204, 204);
    border-color: rgb(204, 204, 204);
    color: white;
}

.RcKEn[disabled] {
    background-color: rgb(204, 204, 204);
    border-color: rgb(204, 204, 204);
    color: white;
}

.RcKEn[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
}

.RcKEn {
    text-align: center;
    /* vertical-align: middle; */
    touch-action: manipulation;
    /* cursor: pointer; */
    background-image: none;
    border: 1px solid rgb(250, 139, 0);
    white-space: nowrap;
    user-select: none;
    font-weight: 400;
    background-color: rgb(250, 139, 0);
    color: white;
    padding: 5px 40px;
    font-size: 20px;
    border-radius: 3px;
    min-width: unset;
    line-height: 1.8em;
    display: block;
    width: 100%;
}

.card-flex {
    display: flex;
}

.paid-in-twd {
    font-size: 14px;
    color: rgb(250, 139, 0);
    margin: .5rem;
}

.marg-t-20 {
    margin-top: 20px;
}

.entry {
    color:black;
    display: flex;
    justify-content: space-between;
}

.total-amount h3 {
    display: inline-block;
    color: rgb(250, 139, 0);
}

/* 
.sticky-inner-wrapper {
    position: fixed;
    transform: translate3d(0px, 110px, 0px);
    width: 260px;
    top: 0px;
} */
.sticky-inner-wrapper {
    /* position: fixed; */
    position: sticky;
    top: 5rem;
}

/* card */
body {
    margin: 0;
    padding: 0;
}

.star-gray {
    color: rgb(202, 202, 202);
}

.star-yellow {
    color: #ffae00;
    left: 0;
}

.hahow-orange {
    color: #fa8b00;
}

.hahow-dark-orange {
    color: rgb(238, 100, 87);
}

.hahow-dark-green {
    color: rgb(0, 190, 164);
}

.bg-hahow-green {
    background: rgb(46, 225, 179);
    color: white;
}

.bg-hahow-dark-green {
    background: rgb(0, 190, 164);
}

.bg-hahow-green:hover {
    color: white;
}

.bg-hahow-dark-orange {
    background: rgb(250, 139, 0);
}

.center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.backgroundPhoto {
    width: 58px;
    height: 58px;
    transform: translate(10%, -50%);
    z-index: 1;
}

.backgroundBookmark {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.backgroundBookmark-sm {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.backgroundBookmarkMove {
    bottom: -50%;
    left: 5%;
    transition: 0.5s;
}

.h-30 {
    height: 10px;
}

.line-height-40 {
    line-height: 40px;
}

.line-height-30 {
    line-height: 30px;
}

.card:hover {
    cursor: pointer;
}

.card-img-top {
    transition: 0.5s;
}

.fa-bookmark {
    transform: scale(1.2);
}

.sticky-outer-wrapper {
    height: 100%;
}

@media (min-width: 768px) {
    #photoImag {
        width: 55px;
        height: 55px;
    }

    .backgroundTape {
        font-size: 14px;
        width: 50%;
        height: 25px;
        line-height: 25px;
        right: -15%;
        top: 20px;
        transform: rotate(45deg);
    }

    .card:hover .card-img-top {
        transform: scale(1.2);
    }

    .card:hover .backgroundBookmarkMove {
        bottom: 5%;
    }

    .backgroundBookmark-sm {
        display: none !important;
        color: white;
    }

    .backgroundBookmark:hover {
        background-color: #fa8b00;
    }

    .backgroundBookmark:hover i {
        color: white;
    }

    .card-bottom {
        height: 6px;
    }

    .classPrice {
        font-size: 25px;
    }

    .course-time::before {
        content: "課時";
    }

    .couse-time-before {
        display: none;
    }

    .course-people::before {
        content: "同學";
    }

    .course-people-before {
        display: none;
    }
}

@media (max-width: 767px) {
    .card-title-image {
        display: none;
    }

    .backgroundBookmark {
        display: none;
    }

    .backgroundBookmark-sm:hover {
        background-color: #fa8b00;
    }

    .backgroundBookmark-sm:hover i {
        color: white;
    }

    .card-bottom {
        height: 2px;
    }

    .card-img-top {
        width: 90%;
    }

    .card {
        border: 0px
    }
}