* {
    padding: 0;
    margin: 0;
    list-style: none;
}

*::selection {
    background: orange;
    color: #fff;
}a {
    color: orange;
}

a:hover {
    color: rgba(140, 216, 0, 0.986);
}

@media screen and (max-width:768px) {

    .col-xs-0 {
        flex: 0 0 0;
        max-width: 0;
        padding-right: 0;
        padding-left: 0;
    }

}

/* 讓灰色消失 */
body{color:white}
.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    align-content: center;

}

.homepage-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #170633;
}

.heading {
    margin-bottom: 12px;
    padding-bottom: 12px;
    padding-top: 30px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

h2 {
    line-height: 1.5em;
    font-size: 40px;
    color: white;
}

p {
    color: #e1e1e1;
    margin: 16px 0px;
    padding: 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.collect-p {
    margin: 16px 0px;
    padding: 0px;
    line-height: 1.75em;
}

.center {
    display: flex;
    justify-content: center;

}

.background-gray {
    /*background-color: #ededed;*/
}

ul {
    padding-left: 20px
}

ol {
    padding-left: 20px
}

li {
    /* list-style: decimal; */
    color: #656565;
} /* 頁尾 */
    .footer {

        padding: 50px;
        background-color: rgba(0, 0, 0, 6.5%);

    }

    .footer-block {
        width: 100%;
        height: 100%;

    }

    .footer-h3 {
        font-size: 16px;
        color: white;
    }

    .footer-content {
        font-size: 12px;
        text-decoration: none;
        color: white;
    }

    .footer-btn {
        width: 100%;
        text-align: start;
        background-color: white;
        color: #000000;
    }

    #footer-space {
        width: 130px;
        display: inline-block;
    }