.boxrightinnertop-fontsize-login {
    font-size: 30px;
}
input:focus {
    outline: none;
}
*::selection {
    background: orange;
    color: #fff;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}
.w-15rem{
    width:11rem;
}
.bg-green {
    background-color: #352540;
}

.boxleft {
    display: flex;
    justify-content: space-around;
    position:relative
}

.boxleftinner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}

.pic-height {
    height: 100vh;
}

.leftimg {
    max-height: 75%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.boxright {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rad {
    border-radius: 11px;
    padding-left: 1rem;
}
.boxrightinner {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center;
    width: 35%;
    margin-bottom: 3rem;
    
}


.boxrightinnertop {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.boxrightinner-1 {
    display: flex;
    justify-content: center;
}

button {
    height: 50px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    -webkit-transition-duration: 0.4s;
    border:0;
    /* Safari */
    transition-duration: 0.4s;
}

.b-1-black {
    background-color: #4267b2;
    border-radius: 4px;
    border: 1px solid #375da8;
    display: flex;
    justify-content: center;
}

.b-2-green {
    background-color: #00b900;
    border-radius: 4px;
    border: 1px solid #019901;
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.b-1-black:hover {
    background-color: #395794
}

.b-2-green:hover {
    background-color: #03aa03;
}

.b-3-gray {
    display: flex;
    justify-content: center;
}

button img {
    width: 9%;
}

.b-3-gray:hover {
    background-color: #e6e6e6;
}

button {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.021), 0 6px 20px 0 rgba(0, 0, 0, 0.048);
}

.buttondiv {
    display: flex;
    align-content: space-around;
    align-content: space-between;
}

input {
    height: 30px;
    width: 90%;
    align-content: center;
    align-items: center;
}

.bussines-a {
    background-color: #002B56;
}

#a-span {
    text-decoration: none;
    color: white;
}

.spantext {
    color: white;
}

.buttonimg {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
}

.buttonimg-img {
    width: 100%;
    height: 100%;
    margin-right: 31px;
}

.boxrightinnertopspan {
    width: 50%;
}

.boxrightinnertop-nowrap {
    white-space: nowrap;
}

.xs-right-title {
    display: none;
}

@media screen and (max-width:1025px) {
    .leftimg {
        top: 0;
    }
}
@media screen and (max-width:767.6px) {

    .col-xs-0 {
        display: none;
    }

    .xs-right-title {
        display: flex;
        margin-bottom: 2rem;
        flex-direction: column;
    }

    .boxleft {
        background-color: white;
    }

    .buttonspan {
        font-size: small;
    }

    .boxrightinnertop-fontsize {
        font-size: medium;
    }

    .boxrightinnertop-fontsize-login {
        font-size: xx-large;
    }

    .boxrightinner {
        width: 60%;
    }

    .boxrightinner-1 {
        background: aliceblue;
    }

    .text-gray {
        color: rgb(88, 88, 88);
    }

    .xs-right-img {
        width: 50%;
    }
}
