/* 第一塊 */
.background-img {
    background-image: url(https://i.pinimg.com/564x/10/49/d6/1049d649d7908fdab4205dfd18f95410.jpg);
    background-size: cover;
}


body {
    background-image: url(https://i.imgur.com/QHRNmJr.jpg);
    color: white;
}

.search-content {
    font-size: 35px;
    font-family: sans-serif;
    color: white;
}

.navbar {
    background-color: #002b56;
}

.nav-link:hover {
    /*color: #fac227 !important;*/
    /*font-size: 19px*/
}
.dropdown-item:hover {
    color: #fac227 !important;
    background-color: #002b56;
    /*font-size: 19px*/
}

.dropdown-menu {
    background-color: #00152b;
}

.search-half {
    position: relative;
    color: rgb(233 ,229 ,77);
}

.search-half::before {
    content: "";
    background-color: rgb(82 ,10 ,121);
    z-index: -1;
    position: absolute;
    height: 20px;
    width: 100%;
    top: 15px;
    left: 0;
}

.search-input {
    height: 40px;
    /*width: 85%;*/
    position: relative;
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 44px;
}

    .search-input:focus-visible {
        outline: none;
    }

.search-btn {
    height: 40px;
    width: 15%;
    border-radius: 166px;
}

.search-3 {
    max-width: 23%;
    margin-left: 9rem;
    margin-top: 10rem;
}

.search-a {
    text-decoration: none;
    font-size: 8px;
    color: #b1cdc9;
    padding: 2px 2px;
    background-color: rgba(46, 225, 179, 0.1);
    border-radius: 16px;
    margin: 6px 0;
    white-space: nowrap;
}

    .search-a:hover {
        color: rgb(146 197 129);
    }

#ug-pic {
    display: block;
    width: 35%;
    padding: 0px;
}

.search-right {
    position: relative;
}

#search-right-pic {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 50%;
    z-index: -2;
}

#search-right-leftbottom-pic {
    position: relative;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}

#search-right-a-pic {
    position: absolute;
    left: 80px;
    top: 50px;
    width: 30%;
    height: 40%;
    z-index: 0;
}

#mascot {
    position: absolute;
    left: 200px;
    top: 100px;
    width: 30%;
    height: 40%;
    z-index: 1;
}

#play {
    position: absolute;
    left: 350px;
    top: 200px;
    width: 20%;
    height: 20%;
    z-index: 1;
}
/*.hover-pic:hover {
    transform: scale(1.2,1.2);
    transition: .5s;
}*/


/* 第一塊 */
/* 第二塊 */
.row-justify-content-center {
    display: flex;
    justify-content: center;
}

.advertising-textt {
    font-size: 20px;
}

.advertising-text {
    font-size: 34px;
    background-color: #11082F;
    margin-bottom: 3%;
}

#advertising-span {
    color: #FCDE0A;
}

.mt-2rem {
    margin-bottom: 2rem;
}
/* 第二塊 */
/* 延伸閱讀 */
.reading {
    background-size: cover;
    padding-bottom: 5rem;
}

.reading-h4 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.65);
    ;
}

.reading-8 {
    max-width: 64%;
}

.reading-pic {
    width: 100%;
    margin-bottom: 2rem;
}

.reading-h5 {
    font-size: 17px;
}

.reading-date {
    color: white;
    font-size: 12px;
}

.reading-more {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.63);
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: white;
}

.style-t {
    width: 71%;
    margin-top: 7rem;
    margin-left: 5rem;
    position: absolute;
    display: block;
    position: absolute;
    z-index: 100;
    top: 70px;
    left: 20%;
    -webkit-animation: bounce-down 1.6s linear infinite;
    animation: bounce-down 2.3s linear infinite;
}

@-webkit-keyframes bounce-down {
    25% {
        -webkit-transform: translateY(-10px);
    }

    50%, 100% {
        -webkit-transform: translateY(0);
    }

    75% {
        -webkit-transform: translateY(10px);
    }
}

@keyframes bounce-down {
    25% {
        transform: translateY(-10px);
    }

    50%, 100% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(10px);
    }
}

}
/* 延伸閱讀 */
/* 第一塊輪盤 */
.item {
    height: 100%;
    width: 100%;
}

    .item > img {
        height: 350px;
    }

/* 第一塊輪盤 */
/* 第三塊 */
#try-watch {
    background-color: rgb(14 8 42);
}

.trywatch-h2 {
    font-size: 21px;
    color: white;
}

.trywatch-text {
    font-size: 14px;
}

#trywatch-span {
    color: #FCDE0A;
}

/* 第三塊 */
/* 好學生評論 */
#studentsay-span {
    font-size: 18px;
    color: #FCDE0A;
}

.comment {
    font-size: 14px;
    height: 345px;
    background-color: #423a51;
    position: relative;
}

#student-say {
    /*background-color: #e6eff0;*/
}

.comment-p {
    /*background-color: #12072F;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 13;
    -webkit-box-orient: vertical;
}

.comment-top-img {
    height: 15px;
    position: absolute;
    top: 5px;
    left: 24px;
}

.comment-bot-img {
    height: 15px;
    position: absolute;
    bottom: 5px;
    right: 24px;
}


.comment-a {
    position: absolute;
    right: 54px;
    top: 316px;
    text-decoration: none;
    color: #5caec8;
}

/* 好學生評論 */
/* 貓頭鷹 */
.item {
    height: 100%;
    width: 100%;
    position: relative;
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-transform: none
}

.owl-nav {
    text-align: center;
    line-height: 20px;
    margin-top: 2rem;
}

.owl-prev {
    font-size: 50px !important;
}

.owl-next {
    font-size: 50px !important;
}

/* 貓頭鷹 */
/* 課程推薦 */
.course-text {
    font-size: 14px;
}

.course-8 {
    max-width: 64%;
}

/* 課程推薦 */
/* 字卡 */


.card-txt {
    padding: 14px 20px;
    width: 80%;
    height: 100%;
    position: absolute;
    /*top: 16px;*/
    color: black;
    /*visibility: hidden;*/
    
    z-index: 2;
    font-size: 22px;
   
}


.card-txt h3 {
    font-size: 22px;
}

.card-txt p {
    font-size: 12px;
}

.card-txt-btn {
    position: relative;
    bottom: -60px;
    left: 0;
}

    .card-txt-btn button {
        border-color: #00bea4;
        color: #00bea4;
        line-height: 2.8em;
    }

/*.item:hover .card-txt {
    visibility: visible;
    box-shadow: 12px 8px 6px rgb(90 57 57 / 70%);
}*/





/* 字卡 */
/* 哥哥卡片 */
.card-h4 {
    font-size: 15px;
}

.card-h4-wrap {
    width: 100%;
    height: 40px;
}

.backgroundTape {
    font-size: 14px;
    width: 50%;
    height: 25px;
    line-height: 25px;
    right: -15%;
    top: 20px;
    transform: rotate(45deg);
}

.bg-hahow-dark-orange {
    background: #00bea4;
}

.card:hover img {
    transform: scale(1.2);
}

.backgroundBookmark-me {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -50%;
    left: 5%;
    transition: 0.5s;
    line-height: 2.5;
}

    .backgroundBookmark-me:hover {
        background-color: #fa8b00;
    }

        .backgroundBookmark-me:hover i {
            color: white;
        }

.hahow-orange {
    color: #fa8b00;
}

.card:hover .backgroundBookmark-me {
    bottom: 53%;
}

.fa-bookmark {
    transform: scale(1.2);
}

.card-RM {
    color: #00bea4;
}

.card-divide {
    height: 2px;
    margin: 16px 0px;
    background-color: rgb(243, 243, 241);
}

.card-logo {
    width: 72px;
    height: 72px;
    flex: 0 0 auto;
}

.card-Explan {
    max-width: 70%;
    max-height: 55px;
    height: 50px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    font-size: 10px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-content {
    display: flex;
}

/* 哥哥卡片 */
/* 影片 */


.content h4 {
    font-size: 8px;
}

.content a {
    text-decoration: none;
    color: white;
}


.video-carousel {
    /*background-color: rgb(243, 243, 241);*/
}

.content {
    width: 636px;
    color: rgb(233 229 77);
}

.item-video {
    border-radius: 15px;
    background-color: #30302b;
}

.footer-content {
    white-space: nowrap;
}


@media screen and (max-width:767px) {

    .footer-ul {
        margin-left: 70px;
    }
}
/* 影片 */

@media screen and (min-width:992px) {
    .container-md {
        max-width: 62%;
        padding: 0;
    }

    .search-form {
        width: 480px;
    }

    .search-input {
        width: 318px;
    }

    .search-btn {
        margin-left: .3rem;
    }
}

    

@media screen and (max-width:992px) {
    .p-12345 {
        padding-left: 15px;
        padding-right: 14px;
        padding-top: 16px;
    }
    .display-n {
        display: none;
    }

    .pic-size {
        height: 80px;
        margin-top: 10px;
        padding-left: 10px !important;
    }

    .pa-10 {
        padding-left: 10px !important;
    }

    .advertising-text {
        background-color: #233e81;
    }

    .comment {
        height: 263px;
    }

    .search-input {
        width: 372px;
    }

    .search-btn {
        width: 55px;
        margin-left: 1rem;
    }
    .comment-p {
       
        -webkit-line-clamp: 9;
       
    }


    /* 頁尾 */
    /* .footer-block {
            order: 2;
        }

        .footer-last-block {
            order: 1;
        }
        .footer-content {
            order: 1;
        }*/

    #footer-space {
        width: 290px;
    }

    /* 頁尾 */
    #ug-pic {
        display: none;
        width: 270px;
        height: 244px;
    }

    /**/
    .d-f-direction-c-r {
        display: flex;
        flex-direction: column-reverse;
    }
}
/* 第一塊 */
.search-3 {
    max-width: 100%;
    color: white;
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin: 0;
    margin-top: 5rem;
}

.search-content {
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-a-wrap {
    display: flex;
    justify-content: center;
}

/* 第一塊 */
/* 延伸閱讀 */
.reading-8 {
    max-width: 100%;
    /*    background-color: #423a51;*/
}

/* 延伸閱讀 */
/* 第一塊輪盤 */


.item > img {
    height: 250px;
}

/* 第一塊輪盤 */
/* 好學生評論 */
.comment {
    /*height: 100%;*/
}


.comment-bot-img {
    bottom: 10px;
}

.comment-a {
    bottom: 0px;
}

    .comment-a:hover {
        color: #fac227 !important;
    }
/* 好學生評論 */
/* 課程精選 */


.card:hover .backgroundBookmark-me {
    bottom: 50%;
}

/* 課程精選 */





.footer-ul {
    margin-left: 70px;
}

span[aria-label] {
    font-size: 100px;
    padding: 0 20px;
}

.flip_wrap {
    display: inline-block;
    width: 100%;
    height: 436px;
    perspective: 800px;
}

.flip {
    width: 100%;
    height: 100%;
    /*backface-visibility: hidden;*/
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.side {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /*    color: #fff;*/
    text-align: center;
}

.front {
    backface-visibility: hidden;
    /*border: 1px solid #ccc;*/
    font-size: 18px;
    /*  background: pink; */
    pointer-events: none;
}

.back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background: white;
    padding: 70px 36px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5%;
}

.flip_wrap:hover .flip {
    transform: rotateY(180deg);
}
.fs-18 {
    font-size:18px;
}