


.navbar {
    background-color: #002b56;
}
.nav-link:hover {
    /*color: #fac227 !important;*/
    /*font-size: 19px*/
    transform: scale(1.1);
}

.dropdown-item:hover {
    color: #fac227 !important;
    background-color: #002b56;
    /*font-size: 19px*/
    transform: scale(1.1);
}

.dropdown-menu {
    background-color: #00152b;
}

.search-half {
    position: relative;
    color: rgb(233, 229 ,77);
}

    .search-half::before {
        content: "";
        background-color: rgb(82, 10 ,121);
        z-index: -1;
        position: absolute;
        height: 20px;
        width: 100%;
        top: 15px;
        left: 0;
    }

.dropdown-item:focus {
    background-color: transparent;
    color: #ffeb00 !important;
}