
@{
    ViewBag.Title = "LockPage";
    Layout = "~/Views/Shared/_LayoutLock.cshtml";
}
@section topCSS{
        <style>
        .lock_wrap {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .lock_wrap .lock {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 10%;
            height:100vh;
        }

        .lock_wrap .lock span {
            font-size: 20px;
            margin-top: 10px;
        }

    </style>
}
    <div class="lock_wrap">
        <div class="lock">
            <span><i class="fa fa-lock fa-4x" aria-hidden="true"></i></span>
            <span>付費課程</span>
        </div>
    </div>

