@model Tachey001.ViewModel.Course.StepGroup


@*@using (Html.BeginForm("Step", "Courses", new { id = ViewBag.Id, CourseId = ViewBag.CourseId }))
{
    @Html.AntiForgeryToken()*@

    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-11 m-4">
                <div class="row m-3 mb-2 border-bottom">
                    <button type="button" class="btn btn-hahow-green btn-lg mb-3" onclick="newChapter()">新增章節</button>
                </div>
                <form action="Step" method="post" id="Step3Form">
                    @Html.HiddenFor(m => m.course.CourseID)
                    <div class="drag-sort-enable row justify-content-center text-secondary" id="chapter">

                        @foreach (var ch in Model.courseChapter)
                        {
                            <div class="col-11 border my-1 py-2 chapterBox">
                                <h4>
                                    <i class="fas fa-align-justify mr-2"></i>
                                    <span class="chapterName">章節1</span>
                                    <input type="text" class="w-75 chapterInput" name="1" value="@ch.ChapterName">
                                    <i class="far fa-window-close" onclick="deleteChapter()"></i>
                                </h4>
                                <hr>
                                <h5 class="text-right">
                                    <span>-新增單元</span>
                                    <i class="far fa-plus-square" onclick="newUnit()"></i>
                                </h5>
                                <div class="drag-sort-enable unitBox">

                                    @foreach (var un in Model.courseUnit)
                                    {
                                        if (ch.ChapterID == un.ChapterID)
                                        {
                                            <h5 class="text-right">
                                                <i class="fas fa-align-justify mr-2"></i>
                                                <span>單元1</span>
                                                <input type="text" class="w-75" name="1" value="@un.UnitName">
                                                <i class="far fa-window-close mx-1" onclick="deleteUnit()"></i>
                                            </h5>
                                        }
                                    }

                                </div>
                            </div>
                        }

                    </div>
                </form>
                <div class="row m-3">
                    <input type="button" onclick="postStep(3)" value="下一步" class="btn btn-outline-secondary btn-lg px-5" />
                </div>
            </div>
            <div class="col-lg-4 col-sm-11 m-3 text-black-50 text-justify">
                <div class="row bg-light-gray px-3">
                    <div class="row p-4">
                        <h6 class="my-3">
                            <i class="far fa-lightbulb fa-2x hahow-dark-orange mr-2"></i>大章節＋小單元 = 課程架構索引
                        </h6>
                        <p class="line-height">
                            將知識內容拆成幾個大的主題章節，每章節再切分出幾個小單元，每單元需為一個明確的知識點。每單元長度約
                            5～15 分鐘，最符合一般人的專注力。
                        </p>
                        <a href=""
                           class="
                  w-100
                  text-right text-secondary text-decoration-none
                  my-3
                ">>> 章節及單元範例</a>
                    </div>
                    <div class="row p-4">
                        <h6 class="my-3">
                            <i class="far fa-lightbulb fa-2x hahow-dark-orange mr-2"></i>整堂課至少出一份作業
                        </h6>
                        <p class="line-height">
                            選擇幾個單元來設計相應的課後作業，引導學生透過「操作」和「練習」，將所學應用在工作或生活中。作業可以是具體的產出作品、也可以是抽象的思考練習。設計作業時請衡量批改時的工作量，但最少要出一份作業才能通過審核、上架募資喔！
                        </p>
                        <a href=""
                           class="
                  w-100
                  text-right text-secondary text-decoration-none
                  my-3
                ">>> 作業範例</a>
                    </div>
                    <div class="row p-4">
                        <h6 class="my-3">
                            <i class="far fa-lightbulb fa-2x hahow-dark-orange mr-2"></i>編輯章節、單元及作業
                        </h6>
                        <p class="line-height">
                            點選「新增章節」，輸入章節名稱及單元名稱，一個章節下可以新增數個單元，也可以拖曳單元順序。將滑鼠游標停留在任一單元的
                            +，出現代表作業的紙張圖示後，點擊圖示新增作業。你可以編輯作業名稱，也可以拖曳作業至想要的位置。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

@*  *@}